<!DOCTYPE html>
 <html>
    <head>
        <title>Yale-P Website</title>
        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="../static/building.css"> -->
        <link rel="stylesheet" href="../static/bootstrap.min.css">

        <!-- <link rel="stylesheet" href="../static/bootstrap.min.css"> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div style="padding: 10px">
            <button onclick="location.href='index'">Home</button>
            <button onclick="location.href='profile'">My Profile</button>
        </div>
        <div style="text-align: right; padding: 10px">
            <button onclick="location.href='logout'">Log out</button>
            </div>
        <div style="max-width: 1500px; margin: 0 auto; padding: 10px">
            <div class="container-fluid">
                <h1>{{name}} DETAILS</h1>
                <br>
                </div class="row">
                    <h5>Building Name</h5><strong>{{name}}</strong><br><br>
                    <h5>Building Address</h5><strong>{{address}}</strong><br><br>
                    <h5>Current Rating</h5><strong id="rating">{{ rating|round }}</strong><br><br>
                    <h5>Description</h5><strong>{{details}}</strong><br><br>
                    <h5>Longitude and Latitude</h5><strong>{{longitude}}, {{latitude}}</strong><br><br>
                    <h5>Tags</h5><strong>{{site}}, {{usage}}</strong><br><br>
                    <h5>Facilities:</h5>
                    {% for facility in facilities %}
                        <strong>{{facility}}</strong><br>
                    {% endfor %}
                    <!-- add tags: site and usage description -->
                </div>
                <hr>
                <div id="reviewContainer">
                <a id="reviewToggle" class="btn btn-outline-primary mx-2" data-bs-toggle="collapse" href="#reviewSection" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
                <div class="collapse" id="reviewSection">
                    <div class="row mx-0 mb-2">
                        <h2 class="text-center">Leave a Review!</h2>
                        <div class="col-12 mb-2">
                            <h6>Rate this Building</h6>
                            <button class="rateButton btn btn-outline-primary" value="1">1</button>
                            <button class="rateButton btn btn-outline-primary" value="2">2</button>
                            <button class="rateButton btn btn-outline-primary" value="3">3</button>
                            <button class="rateButton btn btn-outline-primary" value="4">4</button>
                            <button class="rateButton btn btn-outline-primary" value="5">5</button>
                        </div>
                        <form class="col-12" method="POST">
                            <label for="commentText"><h6>Leave a comment!</h6></label>
                            <br>
                            <textarea class="form-control" id="commentTextInput" rows="4" cols="50" type="text" name="commentText" ></textarea>
                            <br>
                            <label for="imageText"><h6>Add a picture!</h6></label>
                            <br>
                            <form id="imageUploadForm">
                                <label for="img">Select image:</label>
                                <input type="file" id="img" name="img" accept="image/*">
                            </form>
                            <div class="col-3">
                                <img class="img-fluid" id="uploadedImg" src=""/>
                            </div>
                            <br>
                            <button class="btn btn-outline-primary" id="reviewButton" type="button">Post</button>
                        </form>
                    </div>
                </div>
                </div>
                <hr>
                <div class="row mx-0">
                    <h4>Comments</h4><br>
                    Search building comments for keyword:
                    <input type="text" class="comment" id="commentInput"><br>
                    <div id="comments"></div>

                </div>

            </div>
        </div>


        <script 
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>
        <!-- Latest compiled and minified JavaScript -->
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>

        <script>   

            let rating = undefined;

            function handleReview(data, msg, xhr) {
                handleRateSuccess(data.new_rating);
                $('#reviewContainer').hide()
                loadComments();
                $('#uploadedImg').attr('src', '')
            }

            function handleRateSuccess(new_rating) {
                $('#rating').html(new_rating)
            }

            let request = null;

            const thumbsUpButton = (reviewId, disabled) => {
                let status = "";
                if (disabled) {
                    status = "disabled"
                }
                return "<button reviewId=" + reviewId + " value='1' class='voteBtn btn btn-success' type='button'" + status + "> <img src='static/images/hand-thumbs-up.svg'/></button>"
            }

            const thumbsDownButton = (reviewId, disabled) => {
                let status = "";
                if (disabled) {
                    status = "disabled"
                }
                return "<button reviewId=" + reviewId + " value='-1' class='voteBtn btn btn-danger' type='button'" + status + "> <img src='static/images/hand-thumbs-down.svg'/></button>"
            }

            function renderComments(data, res, xhr) {
                let comments = data;

                let html = ""
                let stars = '★'.repeat()
                for (let i = 0; i < comments.length; i++) {
                    let disabled = false;
                    if (comments[i][8]) {
                        disabled = true;
                    }
                    html += "<div class='col mb-2'>"
                    html += "<div class='col-3'>"
                    html += "<img class='img-fluid' src='" + comments[i][9] + "'/>"
                    html += "</div>"
                    html += "<p class='mb-0'>" + "<strong>" + comments[i][2]+ ": " + "<br>"+ '★'.repeat(comments[i][5]) + " </strong>" + '<br>' + comments[i][3] + "</p>"
                    html += comments[i][6] + thumbsUpButton(comments[i][0], disabled) + comments[i][7] + thumbsDownButton(comments[i][0], disabled)
                    html += "</div>"
                }
                $("#comments").html(html)
                $('.voteBtn').on('click', handleCommentVote);
            }

            function loadComments() {
                $("#commentTextInput").val('');
                url = '/loadComments';
                $.ajax({
                    type: 'GET', 
                    url: url,
                    data: {
                        building_id: "{{ building_id }}",
                    },
                    success: renderComments
                })
            }

            let currentImage = ""

            function handleUpload(data) {
                $('#uploadedImg').attr('src', data.src)
                currentImage = data.img_id;
            }

            function uploadImage(e) {
                var formData = new FormData()
                formData.append('img', $('#img')[0].files[0])

                $.ajax({
                    type: 'POST',
                    url: '/uploadImage',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: handleUpload
                });
            }

            function addReview(){
                url = '/submitReview';
                let date_time = new Date();
                date_time = date_time.toLocaleString();
                let fd = new FormData();
                fd.append('commentText', $('#commentTextInput').val());
                fd.append('building_id', '{{ building_id }}')
                fd.append('rating', rating);
                fd.append('room_num', "{{ room_num }}")
                fd.append('img_id', currentImage)

                $.ajax({
                    type: 'POST', 
                    contentType: false,
                    processData: false,
                    url: url,
                    data: fd,
                    success: handleReview
                })
            }

            function selectButton(e) {
                $('.rateButton, .active').removeClass('active')
                $(e.currentTarget).addClass('active')
                rating = $(e.currentTarget).val()
            }

            var toggled = false;

            function handleToggle(e) {
                if (!toggled) {
                    $('#reviewToggle').html('Close')
                    toggled = true;
                }
                else {
                    $('#reviewToggle').html('Click here to leave a review!')
                    toggled = false;
                }
            }

            function loadReview() {
                let has_commented = "{{user_has_commented}}";
                if (has_commented === "True") {
                    $('#reviewContainer').hide();
                }
                else {
                    $('#reviewContainer').show();
                }
            }

            function handleCommentVote(e) {
                console.log("VOTE")
                let value = $(e.currentTarget).attr('value')
                let reviewId = $(e.currentTarget).attr('reviewId')
                var data = {
                    value: value,
                    reviewId: reviewId
                };
                console.log(data)
                $.ajax({
                    type: 'POST',
                    url: '/commentVote',
                    data: data,
                    success: loadComments
                })
            }

            // function handleResponse(response)
            // {
            //     let inner = ''
            //     if (response !== '') inner = "<hr>" + response;
            //     $('#comments').html(inner);
            // }

            function getComments()
            {
                const el = document.querySelector('.comment');
                console.log(el)
                if (el === document.activeElement){
                    let keyword = $('#commentInput').val();
                    keyword = encodeURIComponent(keyword);
                    let url = '/searchComments?keyword=' + keyword
                    if (request != null)
                    request.abort();

                    request = $.ajax({
                    type: 'GET',
                    url: url,
                    data: {
                        building_id: "{{ building_id }}",
                    },
                    success: renderComments
                    });
                }
                else{
                    loadComments()
                }
            }

            
            function setup(response){
                console.log('setup')
                loadComments();
                loadReview();
                $('#commentInput').on('input', getComments);
                $('.rateButton').on('click', selectButton);
                $('#reviewToggle').html('Click here to leave a review!');
                $('#reviewToggle').on('click', handleToggle);
                $('#reviewButton').on('click', addReview);
                $('#img').on('change', uploadImage);
                $('#imageUploadForm').on('submit', uploadImage)
            }
            $('document').ready(setup);
        </script>
    </body>
    </html>